<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Security-Policy" content="connect-src 'self' wss://* https://* http://*">
<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Title and description ================================================== -->
<title>
{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
</title>

<script type="text/javascript">
document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
</script>

{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
{% endif %}
{% if template contains 'product' %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
{% else %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endif %}
{% include 'social-meta-tags' %}

<link rel="canonical" href="{{ canonical_url }}" />

<!-- CSS -->
{{ 'plugins.css' | asset_url | stylesheet_tag }}
{{ 'style.scss.css' | asset_url | stylesheet_tag }}
{{ 'FeLayout.scss.css' | asset_url | stylesheet_tag }}
{{ 'FeLanding.scss.css' | asset_url | stylesheet_tag }}


{% include 'font-links' %}

{% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
{% endif %}

<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

{{ content_for_header }}

{% if template contains 'customers' %}
{{ "shopify_common.js" | shopify_asset_url | script_tag }}
{{ "customer_area.js"  | shopify_asset_url | script_tag }}
{% endif %}

{{ 'jquery-1.11.0.min.js' | asset_url | script_tag }}
  
  <!-- Hotjar Tracking Code for www.elementalbottles.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:427814,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} flexbox-wrapper" >

{% include 'cart-drawer' %}
    
<div id="main-body">
    <div id="slideout-overlay"></div> 
		<div id="main" role="main">
		
			{% unless template == "index" or template == "collection" %}
				<div class="container">
			{% endunless %}
			
				{{ content_for_layout }}
			
			{% unless template == "index" or template == "collection" %}
				</div>
			{% endunless %}		
		
		</div>
  </div>
</body>
</html>